body{
    font-family: 'Nanum Gothic', sans-serif;
   margin: 0px;
    
   
    text-align: justify;
    
}
h1{
    font-size: 30px;
    margin-top: 90;
}
h2{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4{
    font-family: monospace;
    font-size: 20px;
}
.name-color{
    color: orange;
}
.flexable-container{
    display: flex;
    margin-bottom: 120px;
   


}
.half-width{
    width: 50%;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 3%;

    
   
    
}
.half-width img{
    width: 80%;
    
    
    
}
.clickbutton{
    background-image: linear-gradient(yellow,tomato);
    font-weight: 800;
    text-decoration: none;
    color:white;
    padding:10px 40px ;
    border-radius: 7px;
    padding-bottom: 20px;
}
.new-color{
    background-image: linear-gradient(purple,pink);
    padding: 10px 40px;
    color: white;
    font-weight: 800;
    border-radius: 7px;
    padding-bottom: 20px;

}
    .top-banner{
     background-image: url(images/top-banner.png);
     background-repeat: no-repeat;
    }
    
 .ngdc{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 5%;
 }
 
    .box-width{
        width: 40%;
        margin-left: 8%;
        margin-right: 8%;
        padding: 15px;
        box-shadow: 20px 20px 60px;
        border-radius: 5px;
        color:gray;
        
    }
    .exprience-area h1{
        margin-left: 20px;
        margin-bottom: 5%;
        color:rgb(152, 181, 192);
    }
 
    .exprience-area h2{
        font-size: 30px;
    }
    .exprience-area{
        background-image:url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: center;
       
    }
    #border-box{
        border-image: linear-gradient(rgb(166, 192, 170),rgb(206, 41, 170));
        border-image-slice: 1;
        border-left: 5px solid;
    }
    #width-box{
        border-image: linear-gradient(yellow,tomato);
        border-image-slice: 1;
        border-left: 5px solid;
        

    }
    #amar-name{
        color:orange;
        font-size: 30px;
        font-weight: 800;
        text-align: center;
        font-family: monospace;
    }