body{
    font-family: 'Nanum Gothic', sans-serif;
   margin: 0px;
    
   
    text-align: justify;
    
}
h1{
    font-size: 30px;
    margin-top: 90;
}
h2{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4{
    font-family: monospace;
    font-size: 20px;
}
.name-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 120px;
   


}
.half-width{
    width: 50%;
    margin-left: 10%;
    margin-top: 5%;

    
   
    
}
.half-width img{
    width: 90%;
    
    
    
}
.clickbutton{
    background-image: linear-gradient(yellow,tomato);
    font-weight: 800;
    text-decoration: none;
    color:white;
    padding:10px 40px ;
    border-radius: 7px;
    padding-bottom: 20px;
}
    .top-banner{
     background-image: url(images/top-banner.png);
     background-repeat: no-repeat;
    }
    